{#
	Jinja / Django Template for GoodRelations Rich E-Commerce
	Written by Martin Hepp, http://www.heppnetz.de/.
	All templates and code are available under LPGL. Attribution kindly requested.
		
	This template is designed for the main or the "about" page of a Web shop.
	
	Wiki: http://www.ebusiness-unibw.org/wiki/GoodRelationsTemplates
	GoodRelations: http://purl.org/goodrelations/

	Input parameters:
	snippet : True or False
		False: return complete HTML page with proper RDFa header etc.
		True: return only an RDFa snippet to be inserted in another HTML page
	
	title : String for the HTML title element (only if snippet = False)

	rdf_uri (optional) : URI of an RDF/XML data dump file for the page, if available 

	company_name : Official name of the company operating the Web shop	
	
	country : Country of residence
	city : City of residence
	language : ISO 639-1 code  (en, de, it, fr,...) for the language of the country and city name
	zip : Postal code
	street : Street and street number
	phone : Phone number in including the international prefix ("+49-89-6004-4217")

	logo_uri (optional) : URI of a logo or image for the company or shop

	duns (optional) : DUNS number for the company
	gln (optional) : Global Location Number (GLN) for the company
	isic (optional) : ISIC code for your business, see http://unstats.un.org/unsd/cr/registry/isic-4.asp
	naics (optional) : North American Industry Classification System (NAICS) code for your business
					   See http://www.census.gov/eos/www/naics/

#}
{% if snippet==False %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.0" xml:lang="en">
<head>
	<title>{{title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
{% if rdf_uri %}
	<link rel="meta" type="application/rdf+xml" title="GoodRelations rich e-commerce data in RDF/XML for {{company_name}}" 
		href="{{rdf_uri}}" />
{% endif %}
</head>
<body>
<!--- Visible page content -->
<p>
Demo page for a shop&apos;s brand data in GoodRelations.
Insert the regular HTML markup for your page here.
<br />
Written by Martin Hepp, http://www.heppnetz.de/.<br />
All templates and code are available under LPGL. Attribution kindly requested.
</p>
{% endif %}
<!--
	Jinja / Django Template for GoodRelations Rich E-Commerce
	Written by Martin Hepp, http://www.heppnetz.de/.
	All templates and code are available under LPGL. Attribution kindly requested.
	Wiki: http://www.ebusiness-unibw.org/wiki/GoodRelationsTemplates
	GoodRelations: http://purl.org/goodrelations/
-->
<!-- in RDFa 1.1, you can replace the next long div element by the abbreviation: <div profile="http://www.heppnetz.de/grprofile/"> -->
<div xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" 
	xmlns="http://www.w3.org/1999/xhtml" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:gr="http://purl.org/goodrelations/v1#" 
	xmlns:vcard="http://www.w3.org/2006/vcard/ns#" xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
	xmlns:media="http://search.yahoo.com/searchmonkey/media/" 
	xmlns:commerce="http://search.yahoo.com/searchmonkey/commerce/"> 
	<div about="#company" typeof="vcard:VCard commerce:Business gr:BusinessEntity">
	<div property="gr:legalName" content="{{company_name}}"></div>
	<div property="vcard:fn" content="{{company_name}}"></div>
	<div rel="vcard:adr">
	  <div typeof="vcard:Address">
		<div property="vcard:country-name" content="{{country}}" xml:lang="{{language}}"></div>
		<div property="vcard:locality" content="{{city}}" xml:lang="{{language}}"></div>
		<div property="vcard:postal-code" content="{{zip}}"></div>
		<div property="vcard:street-address" content="{{street}}"></div>
	  </div>
	</div>
	<div property="vcard:tel" content="{{phone}}"></div>
{% if logo_uri %}
	<div rel="foaf:depiction" resource="{{logo_uri}}"></div>
<!-- Company logo, Yahoo-specific: Image resources must be img elements, set to 1 x 1 pixels in here -->	
	<span rel="media:image">
       	<img src="{{logo_uri}}" height="1" width="1" alt="company logo"/>
	</span>
{% endif %}
<!-- the following line is very important, for it links between the data and the page that contains the data -->
	<div rel="foaf:page rdfs:seeAlso vcard:url" resource=""></div>
<!-- the following four lines are optional; omit if you do not have values for the respective properties -->	
{% if duns %}
	<div property="gr:hasDUNS" content="{{duns}}" datatype="xsd:string"></div>
{% endif %}
{% if gln %}
	<div property="gr:hasGlobalLocationNumber" content="{{gln}}" datatype="xsd:string"></div>
{% endif %}
{% if isic %}
	<div property="gr:hasISICv4" content="{{isic}}" datatype="xsd:string"></div>
{% endif %}
{% if naics %}
	<div property="gr:hasNAICS" content="{{naics}}" datatype="xsd:string"></div>
{% endif %}
   </div>
</div>
{% if snippet==False %}
</body>
</html>
{% endif %}